
/* Cambia el Estilo las opciones de reportes en StandardForm */
div#reportOptions {
	background: #F2F2F2;
	border: 1px solid #969696;
	padding: 5px;
}

/* Estilos de mensajes de Flash */
div.kumbiaDisplay {
	font-size: 11px;
	font-weight: bold;
	margin: 0 auto;
	padding: 2px 25px;
	background-repeat: no-repeat;
	background-position: 5px top;
	text-align: left;
}

div.errorMessage {
	background-image: url("../img/error.gif");
	background-color: #FFDDDD;
  	color: #B30000;
  	border: 1px solid #FFB7B7;
  	margin: 2px;
  	text-align: left;
}

div.noticeMessage {
	background-image: url("../img/user.gif");
	background-color: #CCDEFF;
  	color: #004A6F;
  	margin: 2px;
  	border: 1px solid #004A6F;
  	text-align: left;
}

div.successMessage {
	background-image: url("../img/ok.gif");
	background-color: #CCFF99;
  	color: #008000;
  	border: 1px solid #008000;
}

div.warningMessage {
	background-image: url("../img/warning.gif");
	background-color:  #FFFFC6;
  	color: #000000;
  	border: 1px solid #DDDD00;
}

.highlight {
	background: #FFFFDF;
}

div.autocomplete {
	position: relative;
	background-color: white;
	border: 1px solid #888;
	margin: 0px;
	padding: 0px;
}

div.autocomplete ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

div.autocomplete ul li.selected {
	background-color: #ffb;
}

div.autocomplete ul li {
	text-align: left;
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 1px;
	cursor: pointer;
	font-size: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}

/* Calendario */
img.calendarIcon {
	cursor: pointer;
}

div.calendar {
	position: absolute;
	padding: 10px;
	background: #3C3C3C;
	width: 180px;
	z-index: 1000;
}

table.calendarTable {
	border-bottom: 1px solid #343434;
	border-right: 1px solid #343434;
	background: #444444;
}

table.calendarTable th {
	font-family: Helvetica,arial,sans-serif;
	font-size: 10px;
	color: #9EA2A2;
}

table.calendarTable td {
	font-family: Helvetica,arial,sans-serif;
	width: 20px;
	padding: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px inset #343434;
	border-left: 1px inset #343434;
	text-align: center;
	font-size: 10px;
	color: #ffffff;
}

table.calendarTable td.monthName {
	text-align: center;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 11px;
}

table.calendarTable td.arrowPrev,
table.calendarTable td.arrowNext {
	border: none;
}

table.calendarTable td.outMonthDay {
	background: #373737;
	color: #686768;
}

table.calendarTable td.selectedDay {
	background: #006B7D;
}
